{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4 text-center">
    <h2>{{object.name|title}}</h2>
    <p>Edit Items and checkout</p>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="col-12 bg-light p-3 ">

        <div class="row text-center mb-4">
            <div class="col-4">
                <h5>Product Name</h5>
            </div>
            <div class="col-4">
                <h5>Quantity(Kg)</h5>
            </div>
            <div class="col-4">
                <h5>Price(per Kg in AED)</h5>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}


            {{form.management_form}}

            <div class="row text-center">
                {% for product_form in form %}

                <!-- ID Feild -->
                {% for hidden_field in product_form.hidden_fields %}
                {{hidden_field.errors}}
                {{hidden_field}}
                {% endfor %}
                <div class="col-4 mb-1">
                    <h6> {{product_form.name|as_crispy_field }} </h6>
                </div>
                <div class="col-4 mb-1">
                    {{product_form.quantity|as_crispy_field }}
                </div>
                <div class="col-4 mb-1">
                    <h6> {{product_form.price|as_crispy_field }} </h6>
                </div>
                <!-- {{product_form.DELETE}} -->

                {% endfor %}

            </div>
            <div class="row ">
                <div class="col-8 border-top errors">
                    {{form.non_form_errors}}
                </div>
                <div class="col-4 border-top">
                    <p><strong>Total Price = </strong> ${{total_price}} </p>
                </div>
            </div>
            <button type="submit" class="btn btn-dark fw-bold col-12 mt-3" name='validate' type="button">Check
                Products</button>
            <button type="submit" class="btn btn-success fw-bold col-12 mt-1" name='buy' type="button">Buy</button>
        </form>
    </div>
</div>
{% endblock %}